:root {
	--radius-sm: 0.3rem;
	--radius: 0.5rem;
	--radius-md: 0.7rem;
	--radius-lg: 1rem;

	--padding: 0.8rem;
	--gap: 2rem;

	--page-width: min(70rem, 100vw);

	--nav-height: 5rem;
	--nav-width: 100%;
	--secondary-nav-height: 5rem;

	--padding-top: 6rem;
	--padding-bottom: 8rem;
	--padding-inset: 2rem;
	--thick-border-width: 0.3rem;
	--border-radius: 0.4rem;
	--border-radius-inner: 0.2rem;
	--page-content-width: 76rem;
	--banner-height: 0px;

	@media screen and (min-width: 480px) {
		--padding-inset: 3.2rem;
	}

	@media screen and (min-width: 800px) {
		--padding-top: 8rem;
		--padding-inset: 4.8rem;
		--secondary-nav-height: 6rem;
	}
}
