/* RED HAT TEXT  -  Varitable Font (wght) */
@font-face {
	font-family: 'red_hat_text';
	font-weight: 100 900;
	font-style: normal;
	src: url('/fonts/red_hat_text/red_hat_text.ttf') format('truetype');
}
@font-face {
	font-family: 'red_hat_text-italic';
	font-weight: 100 900;
	font-style: italic;
	src: url('/fonts/red_hat_text/red_hat_text-italic.ttf') format('truetype');
}

/* INCONSOLATA  -  Variable Font (wght) */
@font-face {
	font-family: 'dosis';
	font-weight: 100 900;
	font-style: normal;
	src: url('/fonts/dosis/dosis.ttf') format('truetype');
}

/* INCONSOLATA  -  Variable Font (wght, wdth) */
@font-face {
	font-family: 'inconsolata';
	font-weight: 100 900;
	font-style: monospace;
	src: url('/fonts/inconsolata/inconsolata.ttf') format('truetype');
}

:root {
	--font-a: 'red_hat_text', system-ui, Inter, Avenir, Helvetica, Arial, sans-serif;
	--font-b: 'dosis', system-ui, sans-serif;
	--font-m: 'inconsolata', system-ui, monospace;

	--font-xxs: clamp(0.8rem, 2vw, 1rem);
	--font-xs: clamp(1rem, 2vw, 1.2rem);
	--font-sm: clamp(1.2rem, 2vw, 1.3rem);
	--font: clamp(1.6rem, 2.7vw, 1.8rem); // todo: update the others like this one
	--font-md: clamp(1.6rem, 2vw, 2rem);
	--font-lg: clamp(2rem, 5vw, 2.8rem);
	--font-xl: clamp(2.4rem, 5vw, 3.2rem);
	--font-xxl: clamp(2.8rem, 7vw, 4.8rem);
	--font-xxxl: clamp(4.8rem, 10vw, 8rem);

	/* doing it this way (rather than just `1.5`) means it has a unit, and can be used elsewhere */
	--line-height-body: calc(1.5 * var(--font));
	--line-height-body-sm: calc(1.5 * var(--font-xs));

	--font-h1: 800 var(--font-xxxl) / 1.2 var(--font-a);
	--font-h2: 700 var(--font-xxl) / 1.2 var(--font-a);
	--font-h3: 500 var(--font-xl) / 1.2 var(--font-a);
	--font-h4: 400 var(--font-lg) / 1.2 var(--font-a);
	--font-h5: 400 var(--font-md) / 1.2 var(--font-a);

	--font-body: 400 var(--font) / var(--line-height-body) var(--font-a);
	--font-body-sm: 400 var(--font-xs) / var(--line-height-body-sm) var(--font-a);

	--font-ui-sm: 400 var(--font-sm) / 1.5 var(--font-a);
	--font-ui: 400 var(--font) / 1.5 var(--font-a);
	--font-ui-md: 400 var(--font-md) / 1.5 var(--font-a);
	--font-ui-lg: 400 var(--font-lg) / 1.5 var(--font-a);
	--font-ui-xl: 400 var(--font-xl) / 1.5 var(--font-a);

	--font-mono: 400 var(--font) / 1.1 var(--font-m);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a,
p,
li,
section,
blockquote,
small,
mark,
cite,
figcaption,
button,
input,
textarea,
select,
option,
label,
legend,
fieldset {
	font: var(--font-body);
}

pre,
code {
	font: var(--font-mono);
}

h1 {
	font: var(--font-h1);
}

h2 {
	font: var(--font-h2);
}

h3 {
	font: var(--font-h3);
}

h4 {
	font: var(--font-h4);
}

h5 {
	font: var(--font-h5);
}
