input,
select,
textarea {
	--background: color-mix(in srgb, var(--bg-a), var(--bg-b) 42%);
	--outline: color-mix(in hsl, var(--bg-b), var(--bg-c) 33%);
	--outline-hover: var(--bg-c);
	--outline-focus: var(--bg-e);

	position: relative;
	margin-top: var(--padding);
	accent-color: var(--theme-a);
	outline-color: var(--outline);
	border: none;

	&:not([type='range']) {
		box-shadow: var(--shadow-sm);
	}
}

input,
select,
textarea,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input::-webkit-slider-thumb,
input::-webkit-slider-runnable-track {
	position: relative;
	border: none;

	font-size: var(--font-xs);

	transition-duration: 0.1s;
	transition-property: border-color, outline-color, background-color, color;

	&:hover {
		outline-color: var(--outline-hover);
	}

	&:focus-visible {
		outline-color: var(--outline-focus);
	}

	&:active,
	&:focus {
		&::placeholder {
			color: transparent;
		}
	}
}

input[type='text'],
input[type='number'],
select,
textarea {
	width: 100%;
	padding: 0.2rem 1rem;

	color: var(--fg-a);
	background-color: var(--background);
	border-radius: var(--radius);
	outline-width: 1px;
	outline-style: solid;
}

textarea {
	padding: 0.75rem 1rem;
}

input::placeholder,
textarea::placeholder {
	transition: 1s;
	transition: none;
	color: var(--bg-c);

	:root.dark & {
		color: var(--bg-e);
	}
}
input:focus::placeholder,
textarea:focus::placeholder {
	color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	outline-style: 1px solid var(--outline);
	outline-width: 1px;
	border-radius: 2px;
	cursor: pointer;
}

select,
input[type='checkbox'],
input[type='radio'] {
	cursor: pointer;
}

input[type='radio'] {
	appearance: none;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background-color: var(--outline);
	outline: 1px solid var(--bg-d);
	cursor: pointer;
	pointer-events: all;

	&:hover {
		background-color: var(--bg-e);
		background-color: var(--bg-d);
	}

	&:checked {
		background-color: var(--theme-a);
	}
}

input[type='range'] {
	position: relative;
	appearance: none;

	width: 100%;
	margin: 0;

	background: none;
	outline: none;
	border-radius: var(--radius);

	&::before {
		content: '';
		$h: 6px;
		box-sizing: border-box;
		display: block;
		position: absolute;
		top: calc(50% - $h / 2);
		left: 0;
		right: 0;

		width: calc(100% - var(--padding) * 2);
		height: $h;
		margin: 0 auto;

		border-radius: 50px;
		background: var(--bg-b);

		transition: 0.15s;

		pointer-events: none;
	}

	&:hover {
		background-color: color-mix(in hsl, var(--bg-a), var(--bg-b) 25%);
		&::before {
			outline-color: var(--outline-hover);
			background-color: color-mix(in hsl, var(--bg-b), var(--bg-c));
		}
	}

	&::-webkit-slider-runnable-track {
		cursor: pointer;
		position: relative;

		width: 100%;

		transition-duration: 0.15s;
		transition-property: outline-color, background-color;
	}

	&::-webkit-slider-thumb {
		cursor: pointer;
		appearance: none;
		position: relative;

		width: 12px;
		height: 12px;

		border-radius: 20px;
		background-color: var(--fg-d);
		box-shadow: 0 0 1rem transparent;

		transition-duration: 0.3s;
		transition-property: background-color, box-shadow;
	}
	&:active::-webkit-slider-thumb {
		background-color: var(--theme-a);
		box-shadow: 0 0 1rem var(--theme-a);
	}

	&:focus-visible,
	&:active {
		&::-webkit-slider-thumb {
			outline-color: var(--theme-a);
		}
		&::before {
			outline-color: var(--outline-focus);
			background-color: var(--bg-c);
		}
	}
}

.label,
label:has(input, select, textarea) {
	color: var(--fg-c);
	font-family: var(--font);
	font-size: var(--font-xs);
}
